@font-face {
    font-family: Veimalyashka;
    src: url('fonts/Veimalyashka-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Proso;
    src: url('fonts/prosorovanastasia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: Veimalyashka, sans-serif;
    background: #f3efe4;
}

.container {
    display: flex;
    max-width: 900px;
    margin: 60px auto;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.right-panel {
    flex: 1;
    position: relative;
    min-height: 480px;
    background: url('images/login.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-panel {
    flex: 1;
    background: #fcedc6;
    color: black;
    padding: 44px 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-panel h2 {
    margin-bottom: 26px;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input[type="email"], input[type="password"] {
    flex: 1;
    padding: 10px 13px;
    border: 2px dashed #c65a3a;
    border-radius: 16px;
    font-size: 2em;
    outline: none;
    transition: all 0.3s ease;
    font-family: Proso, sans-serif;
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: black;
}

.sign-in-btn {
    background-color: #c65a3a;
    color: white;
    border: none;
    border-radius: 23px;
    padding: 11px;
    font-size: 1.15em;
    cursor: pointer;
    margin-top: 16px;
    transition: all 0.3s ease;
    font-family: Veimalyashka, sans-serif;
}

.sign-in-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

a {
    color: #c65a3a;
    text-decoration: underline;
}

.error-message {
    background-color: #ffebee;
    color: #c62828;
    padding: 12px 16px;
    border: 1px dashed #c62828;
    border-radius: 16px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
    font-family: Proso, sans-serif;
}
