@font-face {
    font-family: Soledago;
    src: url('fonts/Soledago.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Lighthaus;
    src: url('fonts/Lighthaus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Veimalyashka;
    src: url('fonts/Veimalyashka-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: Soledago, sans-serif;
}

.container {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.site-title {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
    color: #c65a3a;
    margin: 0 auto;
    display: inline-block;
    letter-spacing: 2px;
    z-index: 10;
}

.site-description {
    font-weight: bold;
    text-align: center;
    color: black;
    margin-bottom: 40px;
    max-width: 600px;
    z-index: 2;
    position: relative;
}


.site-description h1 {
    font-family: Veimalyashka, sans-serif;
    font-weight: normal;
}

.site-description p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: Lighthaus, sans-serif;
}

.fullscreen-panel {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('images/sunset.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 240, 180, 0.4);
    z-index: 1;
}

.center-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-btn {
    background-color: #c65a3a;
    color: white;
    border: none;
    border-radius: 23px;
    padding: 15px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Veimalyashka, sans-serif;
}

.start-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.bottom-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background: #fff6f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #c65a3a;
    gap: 20px;
    z-index: 10;
}

.bottom-bar span {
    color: #c65a3a;
}